@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

#container{
    margin-top: 10%;
    text-align: center;
    background: rgba(7, 2, 4, 0.5);
    width: 50%;
    border-radius: 20px;
    padding: 30px;
    position: relative;
}

img{
    width: 180px;
    display: flex;
    margin: auto;
}

button{
    background-color: #e50914;
    color: white;
    border-radius: 4px;
    margin: 10px;
    padding: 8px;
    border: none;
    width: 250px;   
}

a{
    float: left;
    color:#e50914
}


